body {
    position: relative;
    top: 56px;
}

header {
  padding: 100px 0 100px;
  
}

section {
  padding: 75px 0;
}

.pink {
  background-color: #FFB6C1;
}

.lavender {
  background-color: lavender;
}

.light-purple {
  background-color: mediumpurple;
}

.peach {
  background-color: peachpuff;
}