body {
  position: relative;
  padding-top: 56px;
  font-family: 'Montserrat', sans-serif;
}

header {
  /*padding: 100px 0 100px;*/
  position: relative;
  background-image: url('../static/purple-owl-transparent.png');
  height: 500px;

  background-attachment: fixed;
  background-position: center 150px;
  background-repeat: no-repeat;
  background-size: auto 400px;
}

footer {
  /*padding: 100px 0 100px;*/
  position: relative;
  background-image: url('../static/pink-owl-transparent.png');
  height: 500px;

  background-attachment: fixed;
  background-position: center 150px;
  background-repeat: no-repeat;
  background-size: auto 400px;
}

header {
      background-position: center 150px;
}

footer {
      background-position: center bottom 60px;   
}

header h1, footer h1 {
  width: 100%;
  font-size: 48px;
  color: lavender;
  text-align:center;
}

header h1 {
    position: relative;
    top: 0px;
}

footer h1 {
    position: absolute;
    bottom: 0;
}

section {
  padding: 75px 0;
}

.pink {
  background-color: #ffcad6;
}

.lavender {
  background-color: lavender;
}

.light-purple {
  background-color: mediumpurple;
}

.peach {
  background-color: peachpuff;
}

.font-cursive {
  font-family: 'Playfair Display', serif;
}

.bold {
    font-weight: bold;
}

.thicker {
    font-weight: 900;
}

.italic {
    font-style: italic;
}

.larger-15 {
    font-size: 1.15em;
}

.larger-25 {
    font-size: 1.25em;
}

.smaller-15 {
    font-size: 0.85em;
}

.smaller-25 {
    font-size: 0.75em;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.margin-auto {
    margin: auto;
}

.flex-v-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.flex-v-left {
  display: flex;
  justify-content: left;
  align-items: left;
}

#target-img {
    content: url('../static/target_logo480x623.png');
    width: 200px;
}

#tribute-img {
    content: url('../static/tribute_co.png');
    width: 200px;
}

#prop-owl {
    content: url('../static/prop-owl.png');
    width: 200px;
}

#bbb-img {
    content: url('../static/Buy_Buy_Baby_Logo.png');
    width: 200px;
}

#k-d-a-img {
    content: url('../static/k_d_a.jpg');
    width: 100%;
}

/****** NAV BAR COLORS ********/
.navbar-custom {
    background-color: #d6d6e8;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #7457ae;
}

.navbar-custom .nav-link.nav-link-custom {
    color: #543f80;
}

.custom-toggler.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(116,87,174, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: #7457ae;
}

/****** FORM STYLES ********/

form#message-form, form#rsvp-form {
    background-color: white;
    width: 550px;
    padding: 20px;
    padding-top: 40px;
}

form h2 {
    margin-bottom: 20px;
}

form textarea {
    width: 500px;
    height: 200px;
    resize: none;
}

form input, form textarea {
    margin-bottom: 20px;
    font-size: 16px;
    padding: 20px;
    background-color: lavender;
    border: 4px solid mediumpurple;
    box-shadow: -10px 10px mediumpurple;
    
}

.form-check-input {
    margin-bottom: 20px;
    font-size: 16px;
    padding: 20px;
    background-color: lavender;
    border: 4px solid mediumpurple;
    box-shadow: -10px 10px mediumpurple;
    
}

.form-check-label {
  padding: 20px
}

form input.form-name, form input.form-email {
    width: 500px;
}

form#message-form input.msg-btn {
    position: relative;
    width: 250px;
    background-color: white;
    padding: 10px 0;
    top: -40px;
}

form#rsvp-form input.rsvp-btn {
    position: relative;
    width: 250px;
    background-color: white;
    padding: 10px 0;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}


/****** RESPONSIVE STYLES *********/


@media only screen and (max-width: 650px) {
    header h1, footer h1 {
        font-size: 36px;
    }
    
    /****** FORM STYLES ********/

    form#message-form, form#rsvp-form {
        width: 400px;
        padding: 20px;
        padding-top: 40px;
    }
    
    form textarea {
        width: 350px;
        height: 200px;
    }
    
    form input, form textarea {
        margin-bottom: 20px;
        font-size: 16px;        
    }
    
    .form-check-input {
        margin-bottom: 20px;
        font-size: 16px;
    }
    
    form input.form-name, form input.form-email {
        width: 350px;
    }
    
    form#message-form input.msg-btn {
        width: 150px;
    }
    
    form#rsvp-form input.rsvp-btn {
        width: 150px;
    }
}
