body {
  position: relative;
  top: 56px;
  font-family: 'Montserrat', sans-serif;
}

header {
  padding: 100px 0 100px;
  background-image: url("https://www.pinclipart.com/picdir/big/86-860533_corujinha-lilas-05-imagens-png-pink-orange-baby.png");
  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  padding: 75px 0;
}

.pink {
  background-color: #FFB6C1;
}

.lavender {
  background-color: lavender;
}

.light-purple {
  background-color: mediumpurple;
}

.peach {
  background-color: peachpuff;
}

.font-cursive {
  font-family: 'Playfair Display', serif;
}

