body {
  position: relative;
  top: 56px;
  font-family: 'Montserrat', sans-serif;
}

header {
  /*padding: 100px 0 100px;*/
  postiion: relative;
  background-image: url('../static/purple-owl.png');
  height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 400px;
}

header h1 {
  position: absolute;
  width: 100%;
  top: 350px;
  font-size: 48px;
  color: lavender;
  text-align:center;
}

section {
  padding: 75px 0;
}

.pink {
  background-color: #FFB6C1;
}

.lavender {
  background-color: lavender;
}

.light-purple {
  background-color: mediumpurple;
}

.peach {
  background-color: peachpuff;
}

.font-cursive {
  font-family: 'Playfair Display', serif;
}

.bold {
    font-weight: bold;
}

.thicker {
    font-weight: 900;
}

.italic {
    font-style: italic;
}

.section-title {
    margin-left: 50px;
}

.larger-15 {
    font-size: 1.15em;
}

.larger-25 {
    font-size: 1.25em;
}

@media only screen and (max-width: 560px) {
    header h1 {
        font-size: 36px;
    }
    
    .section-title {
        margin-left: 5px;
    }
}
